.form {
    display: inline-block;
}
    .form > .form-row {
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
        
    }
        .form > .form-row:last-of-type {
            margin-bottom: 0;
        }
        
    
    .form > .form-row > label {
        display: inline-block;
        width: 100%;
        line-height: 20px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bolder;
        margin-bottom: 5px;
        color: #999;
    }
    .form > .form-row > input {
        display: inline-block;
        width: 100%;
        line-height: 20px;
        font-size: 18px;
        border: none;
        border-bottom: 2px solid #ccc;
        padding: 10px 0;        
    }
        .form > .form-row > input:focus {
            outline: 2px solid #aaa;
            outline-offset: 2px;
            border-color: transparent;
        }

    .form > .forgot-pass {
        display: inline-block;
        margin-top: 10px;
        columns: #52f;
        text-decoration: none;
    }