body {
    /* background-color: green; */
    background-image: url('../img/backgroung.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: verdana;
    
}
    

    
    .content {
        display: inline-block;
        width: 800px;
        margin: 20px calc(50% - 400px);
    }
        .content > .texts {
            display: inline-block;
            float: left;
            width: 40%;
        }

            .texts > .title {
                width: 100%;
                margin: 40px 0 20px;
                font-size: 50px;
                display: inline-block;
                text-transform: capitalize;
            }

            .texts > .description {
                display: inline-block;
                width: 100%;
                font-size: 15px;
                line-height: 30px;
                margin: 10px 0 30px;
                text-align: justify;
            }




        .content > .main-img {
            display: inline-block;
            float: right;
            width: 60%;
        }
    