@media screen and (max-width: 800px){
    .container  {
        width: 480px;
    }
        .container > .left {
            top: -50px;
            bottom: -50px;
            width: 100%;
        }
        .container > .left > .main-title {
            top: 5px;
            left: 20px;
            line-height: 40px;
            font-size: 35px;
        }
        .container > .right {
            width: 480px;
            padding: 20px;
            left: 50%;
            transform: translate(-50%);
            float: none;
        }
        .container > .left > .term-line {
            left: 20px;
            bottom: 5px;
            right: 20px;
        }
        .container > .left > .term-line > .term-element {
            line-height: 20px;
            font-size: 14px;
        }

}
@media screen and (max-width: 480px){
    .container  {
        width: 100%;
    }
        .container > .left {
            width: 100%;
        }
        
        .container > .right {
            width: 100%;
            
        }
        
        .container > .left > .term-line > .term-element {
            line-height: 20px;
            font-size: 14px;
        }

}

@media screen and (max-width: 330px) {
    .container > .left > .main-title {
        font-size: 18px;
        line-height: 20px;
    }
    .container > .right > .form  .form-row > span {
        display: none;
    }
    .container > .right > .form > .form-row > label {
        font-size: 10px;
    }
    .container > .right > .form > .form-row > input {
        font-size: 12px;
    }
    .container > .right > .form > .form-row > a {
        
        width: 100%;
        margin: 0;
    }
    
    .container > .right > .form > .form-row > .button-too {
        padding: 5px 10px;
    }
    .container > .right > .form > .form-row > .links {
        
        font-size: 15px;
    }
    .container > .right > .form > .forgot-pass {
        line-height: 20px;
        font-size: 15px;
    }

}