body {
    background-color: lightblue;

}
    .container {
        display: inline-block;
        width: 800px;
        margin: 80px calc(50% - 400px);
        background-color: lightcoral;
    }

        .container > .left {
            display: inline-block;
            background-image: url("../img/mountain.png");
            background-size: cover;
            float: left;
            background-color: blue;
            width: 40%;
            height: 548px;
            margin: 20px 0;
            position: relative;
        }

        /* .container > .left > .image {
            display: inline-block;
            height: 100%;
            
        } */
        .container > .left > .sign-up {
            display: inline-block;
            position: absolute;
            left: 49px;
            top: 68px;
            font-size: 49px;
            line-height: 50px;
            color: white;
        }
        .container > .left > .term-line {
            display: inline-block;
            position: absolute;
            left: 65px;
            bottom: 15px;
            color: white;
        }
        .container > .left > .term-line > .term-element {
            display: inline-block;
            float: left;
            margin-right: 5px;
            color: white;
            line-height: 25px;
            font-size: 14px;
            /* background-color: turquoise; */
        }
        .container > .left > .term-line > .term-link:hover {
            color: #ccc;
        }





        .container > .right {
            display: inline-block;
            float: right;
            background-color: white;
            width: 60%;
            padding: 80px;
            position: relative;
        }

            .right > .close {
                position: absolute;
                cursor: pointer;
                top: 0;
                right: 0;
                width: 80px;
                height: 80px;
            }

            .right > .close > .line {
                display: inline-block;
                position: absolute;
                top: 47%;
                left: 27%;
                width: 40px;
                height: 2px;
                background-color: #888;
            }
            .right > .close:hover .line{
                background-color: #aaa;
            }

            .right > .close > .line:first-of-type {
                transform: rotate(45deg);
            }
            .right > .close > .line:last-of-type {
                transform: rotate(-45deg);
            }


            .right > .form > .link-line {
                vertical-align: middle;
                line-height: 30px;
            }
            .right > .form  .form-row > span {
                padding: 10px;
                float: left;
                margin-left: 10px;
                line-height: 20px;
            }

            .right > .form > .form-row > a {
                padding: 10px;
                line-height: 20px;
                text-decoration: none;
                font-weight: bold;
                float: left;
                color: #52f;
            }
            .right > .form > .form-row > a:hover {
                color: #888;
            }