body {
    background-color: lightblue;
    

}

    body > .background {
        background-image: url('../img/backgroung.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: top left;
        height: 100vh;
        filter: blur(10px);
    }

    .container {
        display: inline-block;
        width: 800px;
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

        .container > .left {
            display: inline-block;
            background-image: url("../img/backgroung.png");
            background-size: cover;
            background-color: blue;
            width: 40%;            
            position: absolute;
            top: 20px;
            bottom: 20px;
            left: 0;
        }
        .container > .left > .main-title {
            display: inline-block;
            position: absolute;
            left: 40px;
            top: 50px;
            right: 40px;
            font-size: 49px;
            font-weight: normal;
            line-height: 50px;
            color: white;
        }
        .container > .left > .term-line {
            display: inline-block;
            position: absolute;
            left: 40px;
            bottom: 15px;
            right: 40px;
            color: white;
        }
        .container > .left > .term-line > .term-element {
            display: inline-block;
            color: white;
            line-height: 25px;
            font-size: 16px;
            /* background-color: turquoise; */
        }
        .container > .left > .term-line > .term-link:hover {
            color: #ccc;
        }





        .container > .right {
            display: inline-block;
            float: right;
            background-color: white;
            width: 60%;
            padding: 80px;
            position: relative;
        }

            .right > .close {
                position: absolute;
                cursor: pointer;
                top: 0;
                right: 0;
                width: 80px;
                height: 80px;
            }

            .right > .close > .line {
                display: inline-block;
                position: absolute;
                top: 47%;
                left: 27%;
                width: 40px;
                height: 2px;
                background-color: #888;
            }
            .right > .close:hover .line{
                background-color: #aaa;
            }

            .right > .close > .line:first-of-type {
                transform: rotate(45deg);
            }
            .right > .close > .line:last-of-type {
                transform: rotate(-45deg);
            }


            .right > .form > .link-line {
                vertical-align: middle;
                line-height: 30px;
            }
            .right > .form  .form-row > span {
                padding: 10px;
                float: left;
                margin-left: 10px;
                line-height: 20px;
            }

            .right > .form > .form-row > a {
                padding: 10px;
                line-height: 20px;
                text-decoration: none;
                font-weight: bold;
                float: left;
                color: #52f;
            }
            .right > .form > .form-row > a:hover {
                color: #888;
            }
        
        .right > .form > .forgot-pass {
            display: inline-block;
            margin-top: 10px;
            columns: #52f;
            text-decoration: none;
        }
            .right > .form > .forgot-pass:hover {
                color: #888;
            }


@media screen and (max-width: 800px){
    .container  {
        width: 480px;
    }
        .container > .left {
            top: -50px;
            bottom: -50px;
            width: 100%;
        }
        .container > .left > .main-title {
            top: 5px;
            left: 20px;
            line-height: 40px;
            font-size: 35px;
        }
        .container > .right {
            width: 480px;
            padding: 20px;
            left: 50%;
            transform: translate(-50%);
            float: none;
        }
        .container > .left > .term-line {
            left: 20px;
            bottom: 5px;
            right: 20px;
        }
        .container > .left > .term-line > .term-element {
            line-height: 20px;
            font-size: 14px;
        }

}
@media screen and (max-width: 480px){
    .container  {
        width: 100%;
    }
        .container > .left {
            width: 100%;
        }
        
        .container > .right {
            width: 100%;
            
        }
        
        .container > .left > .term-line > .term-element {
            line-height: 20px;
            font-size: 14px;
        }

}

@media screen and (max-width: 330px) {
    .container > .left > .main-title {
        font-size: 28px;
    }
    .container > .right > .form  .form-row > span {
        display: none;
    }
    .container > .right > .form > .form-row > label {
        font-size: 10px;
    }
    .container > .right > .form > .form-row > input {
        font-size: 12px;
    }
    .container > .right > .form > .form-row > a {
        
        width: 100%;
        margin: 0;
    }
    
    .container > .right > .form > .form-row > .button-too {
        padding: 5px 10px;
    }
    .container > .right > .form > .form-row > .links {
        
        font-size: 15px;
    }
    .container > .right > .form > .forgot-pass {
        line-height: 20px;
        font-size: 15px;
    }

}